doctype html
html(lang='en', ng-app="landingPage")  
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title|#{name}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/styles/css/screen.css')
    body(ng-controller="contactCtrl")
        .everything
            .intro
                .logo-container
                    img#logo(src="images/#{logo}")
                .xyz
                    .left
                        .heading.
                            Software for humans!
                        .description
                            p.
                                #{name} specializes in custom software solutions that focus on people.
                    .right
                        .label
                            span#contact-line-1.
                                Drop us a line! 
                            span#contact-line-2.
                                Provide your contact info here.
                        input.email(type="text", ng-model="email")
                        input.button#contactButton(type="button", value="SUBMIT", ng-click="sendContact()")
                        .rsvp-result
                            span.rsvp-processing(ng-show="contactResult === 'p'")|One second, while we process your request...
                            span.rsvp-success(ng-show="contactResult === 's'")|Your contact info has been received!
                            span.rsvp-fail(ng-show="contactResult === 'r'")|Please supply and email address.
                            span.rsvp-fail(ng-show="contactResult === 'f'")|Woops, something went wrong. Would you mind trying that again?
            .features
                .header.
                    What we do
                .feature-row
                    .feature-col-1
                        img.feature-icon(src="images/pm.png")
                        span.feature-title.
                            Project management
                        p.feature-description.
                            Success doesn't happen on accident. It takes talent and experience to keep a project on track. We bring our vast experience to bear on every project to make sure it comes in on time and within budget.
                    .feature-col-2
                        img.feature-icon(src="images/ux.png")
                        span.feature-title.
                            UX and branding
                        p.feature-description.
                            Software is about making life better. We put people first and ensure that we solve the right problems the right way. We believe software should be a joy to use and we won't be satisfied with anything less.
                .feature-row
                    .feature-col-1
                        img.feature-icon(src="images/dev.png")
                        span.feature-title.
                            Full stack development
                        p.feature-description.
                            We take ownership of the entire technological stack of every solution we put together. We deal in databases, web, mobile, desktop, and everything in between. We don't just work with technology, we live it every day.
                    .feature-col-2
                        img.feature-icon(src="images/testing.png")
                        span.feature-title.
                            Quality assurance
                        p.feature-description.
                            Great software requires great testing. We engineer quality into our systems from the ground up. We manage the breadth and complexity of software quality by automating the process and making testing efficient and reproducible.
            .footer
                .copyright.
                    © #{name} 2016
        script(src='/bower_components/angular/angular.min.js')
        script(src='/js/app.js')
        script(src='/js/contact.controller.js')
        script(src='/js/contact.service.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '#{googleTrackingCode}', 'auto');
            ga('send', 'pageview');